@font-face {
    font-family: charter; /*se debe designar un nombre a la fuente*/
    src: url('../fonts/charter-regular.otf'); /*donde está ubicada la fuente*/
    font-style: normal;/*estilo de la fuente*/
    font-weight: 400; /*peso de la fuente, normalmente van de 100 en 100, y 400 es el peso de esas fuentes*/
}

@font-face {
    font-family: charter; /*se debe designar un nombre a la fuente*/
    src: url('../fonts/charter-italic.otf'); /*donde está ubicada la fuente*/
    font-style: italic;/*estilo de la fuente*/
    font-weight: 400; /*peso de la fuente, normalmente van de 100 en 100, y 400 es el peso de esas fuentes*/
}

@font-face {
    font-family: charter; /*se debe designar un nombre a la fuente*/
    src: url('../fonts/charter-bold.otf'); /*donde está ubicada la fuente*/
    font-style: normal;/*estilo de la fuente*/
    font-weight: bold; /*peso de la fuente, normalmente van de 100 en 100, y 400 es el peso de esas fuentes*/
}

@font-face {
    font-family: charter; /*se debe designar un nombre a la fuente*/
    src: url('../fonts/charter-bold-italic.otf'); /*donde está ubicada la fuente*/
    font-style: italic;/*estilo de la fuente*/
    font-weight: bold; /*peso de la fuente, normalmente van de 100 en 100, y 400 es el peso de esas fuentes*/
}


:root {
    font-size: 18px;
    --gray30: #212121;
    --gray20: #212429;
    --gray10: #616161;
}

html {
    scroll-behavior: smooth; /* para que haga scroll de forma suave*/
}

body {
    color: var(--gray30);
    font-family: 'Roboto', sans-serif; /* forma de agregar fuente directamente de google forms*/
    /* font-family: charter; */
    /* font-family: "Open sans"; font-family se utiliza con comillas cuando la fuente tiene más de una palabra*/
    /*font-family: system-ui; font-family solo funciona con fuentes instaladas en el computador*/
    margin: 0; /* Para quitar el margen */
}

a {
    color: var(--gray30)
}

header {
    /* --gray10: red; Para cambiar el valor de una variable*/
    font-size: 14px;
    width: 188px;
    color: var(--gray10);
    /* position: static; corresponde a la posición entregada por defecto */
    position: absolute;
    top: 64px;
    left: -232px;
    /* right: 0; */
    /* top left bottom right z-index (mover el elemento en las capas); */
    /* top: 200px;
    left: 30px; */
    /* right: 50px;
    bottom: 100px; */
    /* z-index: -1; */
    /* background: red; */
    /* position: absolute;
    position: fixed;
    position: sticky; */
}

header a {
    color: var(--gray10);
    text-decoration: none;
}
header a:hover{
    color: var(--gray30); /* cuando mause está sobre alguna parte del menú el color cambia a gris oscuro*/
}


nav details summary {
    font-weight: bold; /*títulos del resumen (summary) en negrita */
    line-height: 24px;
}

header li {
    margin-bottom: 16px;
}

h1 {
    font-size: 60px;
    /*font-size: 3.75em;*/
    margin-top: 64px;
    margin-bottom: 16px;
    font-weight: normal;
    /*margin-left: 10px;
    margin-right: 10px;*/

    /* margin: top right bottom left (como la dirección del reloj) */
    /* margin: 64px 10px 16px 10px; */
}

/* selector adyacente que solo aplica al primer parrafo. con ~ se hace el selector de hermanos */
h1 + p {
    margin-bottom: 64px; /*solo se detalla el margen hacia abajo, ya que el de arriba es el mismo margen definido en el título */
}

hr {
    margin: 64px 0;
    /* background: red ;*/
}

h2 {
    font-size: 2em;
    margin: 64px 0 40px 0;
    font-weight: normal;
}

h3 {
    font-size: 1.5em;
    margin-top: 16px;
    margin-bottom: 24px;
    font-weight: normal;
    /* width: 200px; */
    /* padding: 20px; */
    position: relative;
    /* box-sizing: border-box; */
}

pre {
    background: #FEC62E;
    padding: 40px;
    font-family: "Roboto";
    line-height: 24px;
}

blockquote {
    font-size: 24px;
    margin: 32px 0;
    line-height: 24px;
    padding-left: 16px;
    border-left: 4px solid var(--gray30);
}

/* span dentro del blockquote */
blockquote span {
    color: var(--gray10);
}

/* para agregar el guión antes del span */
blockquote span::before {
    content: '-';
}

.header {
    position: sticky;
    top: 0;
}

.header-content {
    position: relative;
}

.main {
    /* position: relative; */
}

.wrapper {
/* sirve para ubicar las fronteras del contenido y en este caso centrarlo */
    width: 902px;
    margin: auto;
}

.main-content {
    background: white;
}


.debug {
    box-shadow: 0 0 0 1px red; /*El cuarto elemento es una expansión afuera de su caja*/
    /* outline: 1px solid red; */
    /* border: 1px solid red !important; */
}

.hero {
    background-image:linear-gradient(to top, rgba(255, 255, 255, .3), transparent), url('../images/pattern.png');
    /* background-repeat: no-repeat; */
    /* background-position: left top; */ 
    /* background-size: cover; */
    height: 350px;
}

.section-content + hr {
    display: none;
}

.section-content img {
    margin-top: 40px;
}

/* Pseudo Elementos*/

.section-content {
    counter-reset: titleList;
}

.section-content h3 {
    counter-increment: titleList; /* por cada h3 que encuentre se incrementa en 1 el contador */
    padding-bottom: 8px;
}

/* para agregar los nros a cada seccion  */
.section-content h3::before {
    content: counter(titleList, decimal)'. ';
}

.section-content h3::after {
    content: '';
    width: 80px;
    height: 4px;
    background: var(--gray30);
    display: inline-block; /*si fuera block queda una fila para todo la línea*/
    position: absolute;
    left: 0;
    bottom: 0;

/* ::selection { 
    background: red;
} */

.section-content ol li {
    line-height: 24px;
}

.section-content ul li {
    margin-bottom: 16px;
}

.section-content {
    margin-top: 64px;
}

/* .section-content:first-of-type {
    background: red;
} */
